body{
    background-color: #214da7;
    color: #dae1f1;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #090b0f;
    color: white;

    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
.menu-icon{
    cursor:pointer;
}
#menu-toggle{
    display:none;
}
.menu{
    position:absolute;
    top:60px;
    right:20px;

    min-width:160px;
    padding:10px 0;

    background:#314575;

    display:none;
    flex-direction:column;
    gap:5px;

    border-radius:8px;
}

.menu a{
    display:block;
    padding:8px 15px;
    color:white;
    text-decoration:none;
}

.menu-icon img{
    height:30px;
    display:block;
}
#menu-toggle:checked + .menu-icon + .menu{
    display:flex;
}
img{
    height: 55px;
}
.selecao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.selecao .tudo{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}